# LogisticRegression Model

In [14]:
import os
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel

In [15]:
#read lending data csv
df = pd.read_csv('/Users/anthonygarcia/desktop/supervised-machine-learning/resources/lending_data.csv')
df

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0
...,...,...,...,...,...,...,...,...
77531,19100.0,11.261,86600,0.653580,12,2,56600,1
77532,17700.0,10.662,80900,0.629172,11,2,50900,1
77533,17600.0,10.595,80300,0.626401,11,2,50300,1
77534,16300.0,10.068,75300,0.601594,10,2,45300,1
77535,15600.0,9.742,72300,0.585062,9,2,42300,1

In [11]:
# assign the data into X and y
y = df['loan_status']
X = df.drop('loan_status', axis=1)

In [4]:
# Split the data into X_train, X_test, y_train, y_test 
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [5]:
# Create a logistic regression model
model = LogisticRegression()

In [6]:
# Fit (train) the model with training data
model.fit(X_train, y_train)

LogisticRegression()

In [7]:
# Validate the model by using the test data
print(f'Training data score: {model.score(X_train, y_train)}')
print(f'Testing data score: {model.score(X_test, y_test)}')

Training data score: 0.9921240885954051
Testing data score: 0.9918489475856377

# RandomForestClassifer

In [8]:
# assign the data into X and y
y = df['loan_status']
X = df.drop('loan_status', axis=1)

In [9]:
# Split and scale the data
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [10]:
# Create RandomForest and print results
clf = RandomForestClassifier(random_state=1, n_estimators=35).fit(X_train_scaled, y_train)
print(f'Training Score: {clf.score(X_train_scaled, y_train)}')
print(f'Testing Score: {clf.score(X_test_scaled, y_test)}')

Training Score: 0.997506534598982
Testing Score: 0.9910751134956666

#

# Prediction

Prior to initiating either algorithm, my prediction of which method would be most successful would be logistic regression. Logistic regression performs competently regardless if the numerical feature values of the test data are close to the range of the training data. With a random forest classifier, the values of the testing data must be close to or within the range of the training data for accuracy.

# Outcome

After performing both methods, the results have shown that the two scores are very similar in outcome. The probability of an approved loan is in good standing with a 99% chance of an approval rate. However, logistic regression presented a higher rate compared to the random forest classifier. Comparing the outcome to my prediction also aligned. I believed that logistic regression would provide a better outcome due to having limited restrictions compared to the random forest classifier.